<div class="profile">
    <div class="userProfile">
        <div class="userIcons">
            <img src="/assets/images/userPic.png" alt="userPic" />
            <a routerLink="/create">
                <i class="fa-solid fa-gavel"></i>
                Create
            </a>

        </div>
        <div class="userInformation" *ngIf="user">
            <h1>Welcome:</h1>
            <hr />
            <p>Username: <span>{{ user.username }}</span></p>
            <hr />
            <p>Email: <span>{{ user.email }}</span></p>
            <hr />
            <p>Created games: <span>{{ userGameList.length }}</span></p>
            <hr />
        </div>
    </div>

    <hr />
    <div class="list">
        <h2>Game's List</h2>
        <p *ngIf="userGameList.length !== 0">If you want to check the details of the game, click on the image.</p>
        
        <div class=gameList *ngIf="userGameList.length !== 0">
          
            <div class="myGames" *ngFor="let game of userGameList">
                <a routerLink="/details/{{game._id}}">
                    <img src="{{game.imageUrl}}" alt="{{game.title}}">
                </a>
                
                <div>
                    <button class="deleteBtn" (click)="deleteGame(game._id, game._ownerId)">Delete</button>
                    <button class="editBtn" (click)="editGame(game._id)">Edit</button>
                </div>
            </div>
        </div>

        <div class="noGames" *ngIf="userGameList.length === 0">
            <h3>Your List Is Empty</h3>
            <p> You can change that by clicking on the create button!</p>
        </div>

    </div>
</div>