<div class="profile">
    <div class="userProfile">
        <div class="userIcons">
            <img src="/assets/images/userPic.png" alt="userPic" />
            <a routerLink="/create">
                <i class="fa-solid fa-gavel"></i>
                Create
            </a>

        </div>
        <div class="userInformation">
            <h1>Welcome:</h1>
            <hr />
            <p>Username: <span>Orel40</span></p>
            <hr />
            <p>Email: <span>Orel40@abv.bg</span></p>
            <hr />
            <p>Created games: <span>10</span></p>
            <hr />
        </div>
    </div>

    <hr />
    <div class="list">
        <h2>Game's List</h2>
        <p>If you want to check the details of the game, click on the image.</p>

        <div class=gameList>

           <h1>Hello</h1>

        </div>

        <div class="noGames">
            <h3>Your List Is Empty</h3>
            <p> You can change that by clicking on the create button!</p>
        </div>

    </div>
</div>