<div class="edit">

    <form class="editForm" #form="ngForm" *ngIf="game" (ngSubmit)="editGame(form)">
        <h1>Edit Game </h1>
        <div class="formSection">
            <i class="fa-solid fa-file-signature"></i>
            <input 
                class="title" 
                placeholder="Title" 
                type="text" 
                name="title"
                #inputTitle="ngModel"
                ngModel
                required
                minlength="3"
                [(ngModel)]="game.title"
            />
        </div>

        <ng-container  *ngIf="inputTitle.touched">
            <p class="error" *ngIf="inputTitle.errors?.['minlength']">Title must be at least 3 characters!</p>
            <p class="error" *ngIf="inputTitle.errors?.['required']">Title is required!</p>
        </ng-container >

        <div class="formSection">
            <i class="fa-brands fa-hire-a-helper"></i>
            <input 
                class="help" 
                placeholder="Help With" 
                type="text" 
                name="help"
                #inputHelp="ngModel"
                ngModel
                required
                minlength="3"
            />
        </div>

        <ng-container  *ngIf="inputHelp.touched">
            <p class="error" *ngIf="inputHelp.errors?.['minlength']">Help must be at least 3 characters!</p>
            <p class="error" *ngIf="inputHelp.errors?.['required']">Help is required!</p>
        </ng-container >


        <div class="formSection">
            <i class="fa-solid fa-gamepad"></i>
            <input 
                class="platform" 
                placeholder="Platform" 
                type="text" 
                name="platform"
                #inputPlatform="ngModel"
                ngModel
                required
                minlength="2"
            />
        </div>

        <ng-container  *ngIf="inputPlatform.touched">
            <p class="error" *ngIf="inputPlatform.errors?.['minlength']">Platform must be at least 2 characters!</p>
            <p class="error" *ngIf="inputPlatform.errors?.['required']">Platform is required!</p>
        </ng-container >

        <div class="formSection">
            <i class="fa-solid fa-dna"></i>
            <input 
                class="genre" 
                placeholder="Genre" 
                type="text" 
                name="genre" 
                #inputGenre="ngModel"
                ngModel
                required
                minlength="3"
                [(ngModel)]="game.genre"
            />
        </div>

        <ng-container  *ngIf="inputGenre.touched">
            <p class="error" *ngIf="inputGenre.errors?.['minlength']">Genre must be at least 3 characters!</p>
            <p class="error" *ngIf="inputGenre.errors?.['required']">Genre is required!</p>
        </ng-container >

        <div class="formSection">
            <i class="fa-solid fa-people-group"></i>
            <input 
                class="players" 
                placeholder="Players" 
                type="text" 
                name="players" 
                #inputPlayers="ngModel"
                ngModel
                required
                min="1"
                [(ngModel)]="game.players"
            />
        </div>

        <ng-container  *ngIf="inputPlayers.touched">
            <p class="error" *ngIf="inputPlayers.errors?.['min']">Number of players must be at least 1!</p>
            <p class="error" *ngIf="inputPlayers.errors?.['required']">Number of players is required!</p>
        </ng-container >

        <div class="formSection">
            <i class="fa-regular fa-image"></i>
            <input 
                class="imageUrl" 
                placeholder="ImageUrl" 
                type="text" 
                name="imageUrl" 
                #inputImgUrl="ngModel"
                ngModel
                required
                minlength="5"
                [(ngModel)]="game.imageUrl"
            />
        </div>

        <ng-container  *ngIf="inputImgUrl.touched">
            <p class="error" *ngIf="inputImgUrl.errors?.['minlength']">ImageUrl is not valid!</p>
            <p class="error" *ngIf="inputImgUrl.errors?.['required']">ImageUrl is required!</p>
        </ng-container >

        <div class="formSection">
            <i class="fa-solid fa-pen-to-square"></i>
            <textarea 
                class="summary" 
                placeholder="Summary" 
                type="text" 
                name="summary"
                #inputSummary="ngModel"
                ngModel
                required
                minlength="10"
                maxlength="500"
                [(ngModel)]="game.summary"
            ></textarea>
        </div>

        <ng-container  *ngIf="inputSummary.touched">
            <p class="error" *ngIf="inputSummary.errors?.['maxlength']">Summary can't be more than 500 characters!</p>
            <p class="error" *ngIf="inputSummary.errors?.['minlength']">Summary must be at least 10 characters!</p>
            <p class="error" *ngIf="inputSummary.errors?.['required']">Summary is required!</p>
        </ng-container >

        <div>
            <button class="send">Save</button>
        </div>
    </form>
</div>