<div class="register">
    
    <form class="registerForm" #form="ngForm" (ngSubmit)="register(form)">
        <h1>Register Form</h1>
        <div class="formSection">
            <i class="fa-solid fa-user"></i>
            <input 
                placeholder="Username" 
                type="text" 
                name="username" 
                #inputUsername="ngModel"
                ngModel
                required
                minlength="5"
            />
        </div>
        
        <ng-container  *ngIf="inputUsername.touched">
            <p class="error" *ngIf="inputUsername.errors?.['minlength']">Username must be at least 5 characters!</p>
            <p class="error" *ngIf="inputUsername.errors?.['required']">Username is required!</p>
        </ng-container >

        <div class="formSection">
            <i class="fa-solid fa-at"></i>
            <input 
                placeholder="Email" 
                type="text" 
                name="email" 
                #inputEmail="ngModel"
                ngModel
                required
                [appEmail]="appEmailDomains"
            />
        </div>

        <ng-container  *ngIf="inputEmail.touched">
            <p class="error" *ngIf="inputEmail.errors?.['appEmailValidator']">Email is not valid!</p>
            <p class="error" *ngIf="inputEmail.errors?.['required']">Email is required!</p>
        </ng-container >

        <div class="formSection">
            <i class="fa-solid fa-key"></i>
            <input 
                placeholder="Password" 
                type="password" 
                name="password" 
                #inputPassword="ngModel"
                ngModel
                required
                minlength="6"
            />
        </div>

        <ng-container  *ngIf="inputPassword.touched">
            <p class="error" *ngIf="inputPassword.errors?.['minlength']">Password must be at least 6 characters!</p>
            <p class="error" *ngIf="inputPassword.errors?.['required']">Password is required!</p>
        </ng-container >

        <div class="formSection">
            <i class="fa-solid fa-key"></i>
            <input 
                placeholder="Confirm Password" 
                type="password" 
                name="rePassword" 
                #inputRePassword="ngModel"
                ngModel
                required
            />
        </div>

        <ng-container  *ngIf="inputRePassword.touched">
            <p class="error" *ngIf="inputRePassword.errors?.['required']">Confirm Password</p>
            <p class="error" *ngIf="error">{{ error }}</p>
        </ng-container >
        
        <button class="send">Register</button>
        
        <div class="registerInfo">
            <p> 
                Already Have Account? Click Here 
                <i class="fa-regular fa-hand-point-right"> </i>
                <a routerLink="/login">Login</a>
            </p>
        </div>
    </form>
</div>