<header>
    <div class="navigation">
        <h1>GAME OVER</h1>
            <ul>
                <li class="navBtn"><a href="#">Catalog</a></li>
                <li class="navBtn"><a href="#">Profile</a></li>
                <li class="navBtn"><a href="#">Logout</a></li>
            </ul>
            <ul>
                <li class="navBtn"><a href="#">Catalog</a></li>
                <li class="navBtn"><a href="#">Login</a></li>
                <li class="navBtn"><a href="#">Register</a></li>
            </ul>
    </div>
</header>