<div class="register">

    <div class="error">
        <p>Error</p>
    </div>
    
    <form class="registerForm">
        <h1>Register Form</h1>
        <div class="formSection">
            <i class="fa-solid fa-user"></i>
            <input placeholder="Username" type="text" name="username" />
        </div>
        <div class="formSection">
            <i class="fa-solid fa-at"></i>
            <input placeholder="Email" type="text" name="email" />
        </div>
        <div class="formSection">
            <i class="fa-solid fa-key"></i>
            <input placeholder="Password" type="password" name="password" />
        </div>
        <div class="formSection">
            <i class="fa-solid fa-key"></i>
            <input placeholder="Confirm Password" type="password" name="rePassword" />
        </div>
        <div>
            <button class="send">Register</button>
        </div>
        <div class="registerInfo">
            <p> Already Have Account? Click Here <i class="fa-regular fa-hand-point-right"> </i><a href="#">Login</a>
            </p>
        </div>
    </form>
</div>