<div class="create">

    <div class="error">
        <p>Error</p>
    </div>

    <form class="createForm">
        <h1>Add New Game</h1>
        <div class="formSection">
            <i class="fa-solid fa-file-signature"></i>
            <input class="title" placeholder="Title" type="text" name="title" />
        </div>
        <div class="formSection">
            <i class="fa-brands fa-hire-a-helper"></i>
            <select className={styles.help} name='help'>
                <option value="" disabled hidden>Help With</option>
                <option>Other</option>
                <option>Location</option>
                <option>Item</option>
                <option>Boss</option>
                <option>Skills</option>
            </select>
        </div>
        <div class="formSection">
            <i class="fa-solid fa-gamepad"></i>
            <select class="platform" name='platform'>
                <option value="" disabled hidden>Platform</option>
                <option>Other</option>
                <option>PlayStation</option>
                <option>Xbox</option>
                <option>Nintendo</option>
                <option>PC</option>
            </select>
        </div>
        <div class="formSection">
            <i class="fa-solid fa-dna"></i>
            <input class="genre" placeholder="Genre" type="text" name="genre" />
        </div>
        <div class="formSection">
            <i class="fa-solid fa-people-group"></i>
            <input class="players" placeholder="Players" type="text" name="players" />
        </div>
        <div class="formSection">
            <i class="fa-regular fa-image"></i>
            <input class="imageUrl" placeholder="ImageUrl" type="text" name="imageUrl" />
        </div>
        <div class="formSection">
            <i class="fa-solid fa-pen-to-square"></i>
            <textarea class="summary" placeholder="Summary" type="text" name="summary"></textarea>
        </div>
        <div>
            <button class="send">Save</button>
        </div>
    </form>
</div>