<div class="login">

    <form class="loginForm" #form="ngForm" (ngSubmit)="login(form)">
        <h1>Login</h1>
        <div class="formSection">
            <i class="fa-solid fa-at"></i>
            <input 
                class="email"
                placeholder="Email" 
                type="text" 
                name="email" 
                #inputEmail="ngModel"
                ngModel
                required
                [appEmail]="appEmailDomains"
            />
        </div>

        <ng-container  *ngIf="inputEmail.touched">
            <p class="error" *ngIf="inputEmail.errors?.['appEmailValidator']">Email is not valid!</p>
            <p class="error" *ngIf="inputEmail.errors?.['required']">Email is required!</p>
        </ng-container >

        <div class="formSection">
            <i class="fa-solid fa-key"></i>
            <input 
                class="password" 
                placeholder="Password" 
                type="password" 
                name="password" 
                #inputPassword="ngModel"
                ngModel
                required
                minlength="6"
            />
        </div>

        <ng-container  *ngIf="inputPassword.touched">
            <p class="error" *ngIf="inputPassword.errors?.['minlength']">Password must be at least 6 characters!</p>
            <p class="error" *ngIf="inputPassword.errors?.['required']">Password is required!</p>
            <p class="error" *ngIf="error">{{ error }}</p>
        </ng-container >

        <button class="send">Login</button>
        
        <div class="loginInfo">
            <p> Don't Have An Account? Click Here 
                <i class="fa-regular fa-hand-point-right"> </i>
                <a routerLink="/register">Register</a>
            </p>
        </div>
    </form>
</div>