<div class="catalog">
    <h2>Game's</h2>
    <div class="gameList" *ngIf="gamesList.length !== 0">
        <div class="game" *ngFor="let game of gamesList">
            <img src="{{ game.imageUrl }}" alt="{{ game.title }}" />
        
            <div class="gameInfo">
                <p>Title: <span>{{ game.title }}</span></p>
                <p>Help: <span>{{ game.help }}</span></p>
                <p>Platform: <span>{{ game.platform }}</span></p>
            </div>
        
            <a class="detailsBtn" routerLink="/details/{{game._id}}">
                <i class="fa-solid fa-circle-info"></i> 
                Details
            </a>
        </div>
    </div>
    
    <div class="noGames" *ngIf="gamesList.length === 0">
        <h3>Game Catalog Is Empty</h3>
        <p> Be First To Add New Game! 
            <i class="fa-regular fa-hand-point-right"> </i>
            <a routerLink="/register">Register</a>
        </p>
    </div>
</div>