<div class="details" *ngIf="game">

    <h1>{{ game.title }}</h1>
    <div class="detailsInfo">
        <img src='{{ game.imageUrl }}' alt='{{ game.imageUrl }}' />

        <div class="gameInfo">
            <p>Type: <span>{{ game.genre }}</span></p>
            <p>Platform: <span>{{ game.platform }}</span></p>
            <p>Number Of Players: <span>{{ game.players }}</span></p>
            <p>Help: <span>{{ game.help }}</span></p>
            <p>Description: <span>{{ game.summary }}</span></p>
        </div>
    </div>


    <form class="commentForm" *ngIf="isLoggedIn" #form="ngForm" (ngSubmit)="addComment(form)">
        <textarea 
            placeholder="comment..." 
            type="text" 
            name="comment"
            #inputTitle="ngModel"
            ngModel
        ></textarea>
        <button class="send">Send</button>
    </form>

    <div class="commentContainer" *ngIf="commentsList.length !== 0">

        <div class="commentsInfo" *ngFor="let comment of commentsList">
            <div class="userSection">
                <header>
                    <img src="/assets/images/userPic.png" alt="userPic" />
                    <h3>{{ comment.user }}</h3>
                    <p>
                        <i class="fa-regular fa-calendar-days"></i> -
                        {{ comment.createdAt}}
                    </p>
                </header>
                <ul *ngIf="userId === comment._ownerId">
                    <li><button class="editComment" (click)="showEditCommentSection(comment._id)" ><i class="fa-solid fa-pen"></i></button></li>
                    <li><button class="deleteComment" (click)="removeComment(comment._id)"><i class="fa-solid fa-trash"></i></button></li>
                </ul>
            </div>
            <div class="commentSection">
                <p>{{ comment.text }}</p>
            </div>
        </div>
    </div>

    <form class="EditCommentForm" *ngIf="showEditComment && comment" #form="ngForm" (ngSubmit)="editComment(form, comment._id)">
        <textarea 
            placeholder="comment..." 
            type="text" 
            name="comment"
            #inputTitle="ngModel"
            ngModel
            [(ngModel)]="comment.text"
        ></textarea>
        <button class="send">Send</button>
    </form>

</div>