.details {
    width: 100vw;
    margin: 30px 0;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.details h1 {
    color: gold;
    font-weight: 500;
    line-height: 50px;
    font-size: 50px;
}

.detailsInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;

    border: 2px solid gold;
    border-radius: 20px;
    background-color: #b1b0b0a5;
    padding: 40px;
}

.detailsInfo img {
    width: 400px;
    height: 400px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 2px solid gold;
}

.gameInfo {
   display: flex;
   flex-flow: column wrap;
   width: 500px;
}

.gameInfo p {
    font-size: 25px;
    font-weight: 400;
    color: gold;
    margin: 10px;
    line-height: 1.5;
}

.gameInfo span {
    color: white;
}

.commentForm { 
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.commentForm textarea {
    width: 800px;
    height: 100px;
    border-radius: 10px;
}

.send {
    font-size: 16px;
    border: #000 solid 1px;
    background-color: #ff0303;
    border-radius: 10px;
    color: #fff;
    padding: 10px 50px;
    cursor: pointer;
    margin: 20px;
}

.send:hover {
    background-color: #fff;
    border: #fff solid 1px;
    color: #f00;
}

.commentContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.commentsInfo {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    border: 2px solid gold;
    background: #1b1f24;
}

.userSection {
    display: flex;
    justify-content: space-between;

    border-bottom: 2px solid gold;
    background-color: rgb(255, 94, 0);
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    width: 800px;
}

.userSection img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: -14px 10px;
}

.userSection h3 {
    display: inline-block;
    font-size: 28px;
    line-height: 50px;
    color: black;
}

.userSection p {
    display: inline-block;
    margin: 0 30px;
    font-size: 20px;
}

.userSection ul {
    margin: 25px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.userSection button {
    padding: 3px 30px;
    background-color: gold;
    border-radius: 30px;
    cursor: pointer;
}

.commentSection  {
    font-size: 28px;
    color: gold;
}

.editComment:hover {
    border: green solid 1px;
    color: green;
}

.deleteComment:hover {
    border: red solid 1px;
    color:red;
}

.EditCommentForm {
    background-color: rgba(255, 249, 249, 0.606);
    position: absolute;
    width: 100%;
    height: 83rem;

    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.EditCommentForm textarea {
    width: 800px;
    height: 200px;
    border-radius: 10px;
    border: 5px solid green;
}
